params {
    // General parameters
    workdir_base = '/hps/nobackup/cochrane/ena/users/carlac/gbc_mentions/'
    workdir = "${params.workdir_base}/classify_epmc_texts"
    outdir = "${params.workdir}/results"
    publish_dir_mode = 'symlink' // options: 'copy', 'link', 'move', 'symlink'

    aliases_json = "${projectDir}/data/resource_names.additional_aliases.json"
    // local_xmls_path = '/nfs/production/literature/pmc/oa/'
    db_credentials_json = "${projectDir}/conf/db_credentials.real.json"
    version_json = "${projectDir}/conf/version.json"
    chunks = 1500
    metadata_shards = 128
    model = "${projectDir}/data/models/scibert_resource_classifier.v3"
    case_sensitive_resources = 'MAP,MAPS,ICE,BEE,TIE,RED,HIT,BAR' // resources to search case-sensitively only (i.e. highly generic terms)
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// duplicated settings from https://nf-co.re/configs/ebi_codon_slurm/
process {
    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries    = 3
    // errorStrategy = { task.exitStatus == 0 ? "retry" : "terminate" }
    cache         = "lenient"
    afterScript   = "sleep 60"
}

executor {
    name            = "slurm"
    queueSize       = 2000
    submitRateLimit = "10/1sec"
    exitReadTimeout = "30 min"
    queueGlobalStatus = true
}

profiles {
    test_no_write {
        cleanup = false

        params {
            workdir         = "${params.workdir_base}/test_no_write"
            outdir          = "${params.workdir}/test_results"
            resource_limit  = 2
            epmc_limit      = 10
            epmc_page_size  = 5 // ensure we're fetcthing multiple pages to test pagination
            chunks          = 3
            metadata_shards = 4 // reduced for testing
            include_pmcids  = "PMC10628020,PMC10628021" // consecutive PMCIDs to test batching
        }

        process {
            debug = true
            errorStrategy = 'terminate' // fail fast in test mode
            maxRetries = 0 // no retries in test mode
            maxErrors = 0 // no errors allowed in test mode

            withName: FETCH_RESOURCE_LIST {
                ext.args = "--limit ${params.resource_limit}"
            }

            withName: FETCH_AND_PREPROCESS_ARTICLE {
                ext.args = "--verbose"
            }

            withName: QUERY_EUROPEPMC {
                ext.args = "--chunks ${params.chunks} --epmc_limit ${params.epmc_limit} --page_size ${params.epmc_page_size} --shards ${params.metadata_shards} --include_pmcids '${params.include_pmcids}' --verbose"
            }

            withName: SCIBERT_RESOURCE_CLASSIFIER {
                ext.args = "--model ${params.model} --case_sensitive_resources '${params.case_sensitive_resources}' --verbose"
            }

            withName: WRITE_TO_DB {
                ext.args = "--version-json ${params.version_json} --shards ${params.metadata_shards} --dry-run" // don't actually write to the database in this mode
            }

            withLabel:process_tiny {
                executor = 'local'
                cpus   = 1
            }
            withLabel:process_medium {
                executor = 'slurm'
                cpus   = 2
                memory = { 2.GB + ((task.attempt - 1) * 2.GB) }
                time   = '2h'
            }
        }
    }

    test_with_write {
        cleanup = false

        params {
            workdir         = "${params.workdir_base}/test_with_write"
            outdir          = "${params.workdir}/test_results"
            resource_limit  = 2
            epmc_limit      = 10
            epmc_page_size  = 5 // ensure we're fetcthing multiple pages to test pagination
            chunks          = 3
            metadata_shards = 4 // reduced for testing
            include_pmcids  = "PMC10628020,PMC10628021" // consecutive PMCIDs to test batching
        }

        process {
            debug = true
            errorStrategy = 'terminate' // fail fast in test mode
            maxRetries = 0 // no retries in test mode
            maxErrors = 0 // no errors allowed in test mode

            withName: FETCH_RESOURCE_LIST {
                ext.args = "--limit ${params.resource_limit} --test"
            }

            withName: FETCH_AND_PREPROCESS_ARTICLE {
                ext.args = "--verbose"
            }

            withName: QUERY_EUROPEPMC {
                ext.args = "--chunks ${params.chunks} --epmc_limit ${params.epmc_limit} --page_size ${params.epmc_page_size} --shards ${params.metadata_shards} --include_pmcids '${params.include_pmcids}' --verbose"
            }

            withName: SCIBERT_RESOURCE_CLASSIFIER {
                ext.args = "--model ${params.model} --case_sensitive_resources '${params.case_sensitive_resources}' --verbose"
            }

            withName: WRITE_TO_DB {
                ext.args = "--version-json ${params.version_json} --db-credentials '${params.db_credentials_json}' --shards ${params.metadata_shards} --test --debug"
            }

            withLabel:process_tiny {
                executor = 'local'
                cpus   = 1
            }
            withLabel:process_medium {
                executor = 'slurm'
                cpus   = 2
                memory = { 2.GB + ((task.attempt - 1) * 2.GB) }
                time   = '2h'
            }
        }
    }
}

workDir = params.workdir

trace   { enabled = true; file = "trace.txt";  sep = ',' }
report  { enabled = true; file = "report.html" }
timeline{ enabled = true; file = "timeline.html" }