params {
    chunks = 100
}

profiles {
    local {
        executor.name = 'local'
    }
    test_local {
        executor.name     = 'local'
        cleanup           = false

        params {
            chunks = 10
            db     = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis-test'
        }
    }
    // test_cloud {
    //     cleanup           = false

    //     workDir           = 'gs://gbc-mentions-analysis-test'
    //     conda.enabled     = false
    //     docker.enabled    = true

    //     params {
    //         chunks = 10
    //         db     = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis-test'
    //     }

    //     process {
    //         executor  = 'google-batch'
    //         container = 'docker.io/carlacummins/gbc-accessions-nextflow:v1.1'
    //         // machineType = 'e2-small'
    //         machineType = 'n1-standard-1'
    //     }

    //     google {
    //         project = 'gbc-publication-analysis'
    //         location = 'europe-west2'
    //         batch.spot = true
    //     }
    // }
    // production {
    //     workDir            = 'gs://gbc-epmc-accession-loading'
    //     conda.enabled      = false
    //     docker.enabled     = true

    //     executor {
    //         name = 'google-batch'
    //         queueSize = 100
    //     }

    //     params {
    //         page_size = 250
    //         limit     = null
    //         db        = 'gbc-publication-analysis:europe-west2:gbc-sql/gbc-publication-analysis'
    //     }

    //     process {
    //         container = 'docker.io/carlacummins/gbc-accessions-nextflow:v1.1'
    //         // machineType = 'e2-small'
    //         machineType = 'n1-standard-1'
    //     }

    //     google {
    //         project = 'gbc-publication-analysis'
    //         location = 'europe-west2'
    //         batch.spot = true
    //     }
    // }
}