// includeConfig 'conf/modules.config'

workDir = '/hps/nobackup/cochrane/ena/users/carlac/gbc_mentions'

params {
    // accession_types = 'accession_types.json'
    // db_creds = 'sqlcreds.json'
    // db_user = secrets.SQLUSER
    // db_pass = secrets.SQLPASS

    resource_sql = 'SELECT short_name, common_name, full_name FROM resources WHERE is_latest = 1'
    aliases_json = '../data/resource_names.additional_aliases.json'
    local_xmls_path = '/nfs/production/literature/pmc/oa/'
    chunks = 1000
    filename = 'PMC*.xml.gz'
    model = '../data/models/scibert_resource_classifier.v2'
}

// duplicated settings from https://nf-co.re/configs/ebi_codon_slurm/
process {
    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries    = 3
    errorStrategy = { task.exitStatus == 0 ? "retry" : "terminate" }
    cache         = "lenient"
    afterScript   = "sleep 60"
}

executor {
    name            = "slurm"
    queueSize       = 2000
    submitRateLimit = "10/1sec"
    exitReadTimeout = "30 min"
    queueGlobalStatus = true
}

profiles {
    test {
        cleanup = false

        params {
            filename = 'PMC139*.xml.gz'
            resource_sql = 'SELECT short_name, common_name, full_name FROM resources WHERE is_latest = 1 LIMIT 2'
        }
    }
}