/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: FETCH_RESOURCE_LIST {
        ext.args = "--aliases '${params.aliases_json}'"
    }

    withName: QUERY_EUROPEPMC {
        ext.args = "--chunks ${params.chunks}"
    }

    withName: FETCH_AND_PREPROCESS_ARTICLE {
        ext.args = "--local_xml_dir ${params.local_xmls_path}"
    }

    withName: SCIBERT_RESOURCE_CLASSIFIER {
        ext.args = "--model ${params.model}"
        publishDir = [
            path: { "${params.outdir}/resource_mention_classifications" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('*.csv') ? null : filename }
        ]
    }

    withName: WRITE_TO_DB {
        ext.args = "--db-credentials '${params.db_credentials_json}'"
    }

    withName: RESOURCE_SPECIFICITY_SCORES {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('resource_specificity_scores.csv') ? null : filename }
        ]
    }
}