/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: FETCH_RESOURCE_LIST {
        ext.args = "--aliases '${params.aliases_json}'"
    }

    withName: QUERY_EUROPEPMC {
        ext.args = "--chunks ${params.chunks} --shards ${params.metadata_shards}"
    }

    withName: FETCH_AND_PREPROCESS_ARTICLE {
        // ext.args = "--local_xml_dir ${params.local_xmls_path}"
        ext.args = '--verbose'
        maxForks = 30
    }

    withName: SCIBERT_RESOURCE_CLASSIFIER {
        ext.args = "--model ${params.model} --case_sensitive_resources '${params.case_sensitive_resources}'"
        publishDir = [
            path: { "${params.outdir}/resource_mention_classifications" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.csv') ? filename : null }
        ]
        maxForks = 20
    }

    withName: WRITE_TO_DB {
        ext.args = "--version-json ${params.version_json} --db-credentials '${params.db_credentials_json}' --shards ${params.metadata_shards}"
        maxForks = 10
    }

    withName: RESOURCE_SPECIFICITY_SCORES {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('resource_specificity_scores.csv') ? filename : null }
        ]
    }
}